.nav-item {
    text-align: right;
}

.container {
    margin: 10% 5% 5% 5%;
    text-align: center;
    border: 1px solid lightgrey;
    background-color: honeydew;
    border: 1px solid lightgray;
}

button {
    margin: 1%;
}

